

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .image-grid img{
    border: 7px solid var(--primary-color-dark);
    border-radius: 10px;
  }
  .image-container {
    position: relative;
    cursor: pointer;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .image-title-overlay {
    position: absolute;
    bottom: 0.9rem;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
  }
  
  .image-container:hover .image-title-overlay {
    opacity: 1;
  }
  